@charset "UTF - 8";

/* Titulo e Subtitulo*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Titulo Principal */
@font-face {
    font-family:"pixel";
    src: url(../Font/Pixel\ Digivolve\ Italic.otf);
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0:#9FD1F2;
    --cor1:#7A9DCA;
    --cor2:#7D72E6;
    --cor3:#3D3CAF;
    --cor4:#302F7F;
    --cor5:#7e72e64f;

    --font-titulo:'pixel';
    --font-subtitulo:'VT323';
    --font-principal:'arial,helvertica,sans-serif';
}

body{
    background-color:var(--cor1);
}

header{
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor4)); 
}

header h1{
    color: white;
    font-family: var(--font-titulo);
    text-align: center;
    padding: 20px;
    font-size: 2.3em;
    font-weight: lighter;
    text-shadow: 0px 9px 6px #00000029;
}

header p{
    color: white;
    font-family: var(--font-titulo);
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2em;
    text-shadow: 0px 9px 6px #00000038;
}

nav{
    background-color: var(--cor4);
    text-align: center;
    padding: 20px;
    box-shadow: 0px 17px 7px 0px #00000026;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 13px;
}

nav a:hover{
    background-color: var(--cor5);
    border-radius: 20px;
    transition-duration: .5s;
    color: var(--cor0);
}

main{
    background-color:whitesmoke;
    padding: 10px;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 80px;
    border-radius: 0 0 10px 10px;
}

main h1{
    padding: 20px;
    font-size: 2.6em;
    font-family:var(--font-subtitulo);
    text-align: center;
    font-weight: lighter;
}

main h2{
    padding:20px;
    font-weight: lighter;   
}

main h3{
    padding:30px;
    
}

main p {
    text-align: justify;
    line-height: 2em;
    font-family: var(--font-principal);
    text-indent: 5%;
    margin: 10px 50px;
}

img{
    min-width: 350px;
    max-width: 1000px;
    width: 100%;
}

.video{
    background-color: var(--cor3);
    position: relative;
    padding: 25%;
    margin: 30px -10px;
}

.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

mark{
    background-color: var(--cor2);
    padding: 3px;
}

.paragrafo{
    text-align: justify;
    text-indent: 2%;
}

aside{
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
}

aside h2{
    background-color: var(--cor3);
    margin: -20px -20px 10px ;
    border-radius: 7px 7px 0 0;
    color: var(--cor0);
}

aside ol{
    list-style-position: inside;
    columns: 2;
    line-height: 2.5em;
    font-size: 1.1em;
}

.subtitulo{
    font-weight: lighter;
    font-size: 1.2em;
}

#lista h3{
    background-color: var(--cor0);
    margin: -20px -20px 10px ;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
}

#lista{
    background-color: var(--cor3);
    margin:34px 30px;
    border-radius: 20px;
}

#lista ol{
    columns: 1;
    color: white;
}

.empresas{
   background-color: #302F7F;
}




footer{
    background-color: var(--cor3);
    padding: 10px;
}

footer p{
   color: white;
   text-align: center;
}